@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap");

:root {
    --bg-primary: #f8f9fa;
    --bg-secondary: #e9ecef;

    --border-light: #dee2e6;
    --border-medium: #ced4da;
    --border-dark: #adb5bd;

    --color-muted: #6c757d;
    --color-primary: #495057;
    --color-dark: #343a40;
    --color-darkest: rgb(33, 37, 41);

    --primary-font: "Outfit";
}

/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-secondary);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.page-main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.game-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scoreboard {
    display: flex;
    gap: 0.5rem;
}

.player {
    border: 1px solid var(--border-dark);
    background-color: var(--border-light);
    border-radius: 2px;
    text-align: center;
    padding: 0.5rem clamp(1.2rem, 5vw, 2rem);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.player-label {
    color: var(--color-dark);
    font-size: 0.8rem;
    font-weight: 500;
}

.player-score {
    color: var(--color-darkest);
    font-size: 1.2rem;
    font-weight: 600;
}

.reset-svg {
    height: 22px;
    width: 22px;
}

.reset-btn {
    align-self: flex-end;
    background-color: var(--color-darkest);
    color: var(--border-light);
    border-radius: 3px;
    border: none;
    padding: 6px;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.reset-btn:hover {
    background-color: rgba(55, 60, 65, 1);
}

.reset-btn:active {
    background-color: rgba(25, 28, 32, 1);
}

.game-message {
    color: var(--color-dark);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    background-color: var(--border-dark);
    padding: clamp(3px, 5vw, 7px);

    display: grid;
    grid-template-columns: repeat(3, clamp(80px, 10vw, 240px));
    grid-template-rows: repeat(3, clamp(80px, 10vw, 240px));
    gap: 0.3rem;
}

.cell {
    all: unset;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--color-darkest);
    background-color: var(--bg-primary);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background-color: var(--border-light);
}

.page-footer {
    padding: 0.5rem 1rem;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page-footer,
.footer-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-darkest);
}
